<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Warung</title>
</head>
<body>

    <div class="load"></div>

    <div class="container nav-head"> 
        <header class="d-flex justify-content-center py-3"> 
            <ul class="nav nav-pills"> 
                <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li> 
                <li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li> 
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">About</a></li> 
                </ul> 
            </header> 
    </div>

    <div class="headClass">
        <h1>Kelompok 1</h1>
    </div>

    <div class="container marketing" id="developers"> 
        <!-- Three columns of text below the carousel --> 
        <div class="row box-row js-scroll slide-left"> 
            <div class="col-lg-4 col-12 box"> 
                <img class="picImg" src="assets/pic1.jpeg" alt="">
                <h2 class="fw-normal">M Irfansyah</h2> 
                <p>Head of front and back end programming</p> 
                <p><a class="btn btn-secondary" href="#">View details »</a></p> 
            </div><!-- /.col-lg-4 --> 
            <div class="col-lg-4 col-12 box"> 
                <img class="picImg" src="assets/pic1.jpeg" alt="">
                <h2 class="fw-normal">Utama Perwira</h2> 
                <p>Content Writer</p> 
                <p><a class="btn btn-secondary" href="#">View details »</a></p> 
            </div><!-- /.col-lg-4 --> 
            <div class="col-lg-4 col-12 box"> 
                <img class="picImg" src="assets/pic1.jpeg" alt="">
                <h2 class="fw-normal">Ardhani Winata</h2> 
                <p>UI/UX Design</p> 
                <p><a class="btn btn-secondary" href="#">View details »</a></p> 
            </div><!-- /.col-lg-4 --> 
            <div class="row box-row js-scroll slide-right"> 
                <div class="col-lg-4 col-12 box"> 
                    <img class="picImg" src="assets/pic1.jpeg" alt="">
                    <h2 class="fw-normal">Arif Rahman</h2> 
                    <p>front end assist</p> 
                    <p><a class="btn btn-secondary" href="#">View details »</a></p> 
                </div><!-- /.col-lg-4 --> 
                <div class="col-lg-4 col-12 box"> 
                    <img class="picImg" src="assets/pic1.jpeg" alt="">
                    <h2 class="fw-normal">Noval Bintang</h2> 
                    <p>Web analyst </p> 
                    <p><a class="btn btn-secondary" href="#">View details »</a></p> 
                </div><!-- /.col-lg-4 --> 
                <div class="col-lg-4 col-12 box"> 
                    <img class="picImg" src="assets/pic1.jpeg" alt="">
                    <h2 class="fw-normal">Farid Prasetyo</h2> 
                    <p>UI Design and color hunt </p> 
                    <p><a class="btn btn-secondary" href="#">View details »</a></p> 
                </div>
        </div><!-- /.row --> <!-- START THE FEATURETTES --> 
        


        <div class="container js-scroll fade-in-bottom contain-foot"> 
            <footer class="py-5"> 
                <div class="row">     
                        <div class="col-6 col-md-2 mb-3"> 
                            <h5>More</h5> 
                            <ul class="nav flex-column"> 
                                <li class="nav-item mb-2">
                                    <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
                                </li> 
                                <li class="nav-item mb-2">
                                    <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                                </li> 
                                <li class="nav-item mb-2">
                                    <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                                </li> 
                                <li class="nav-item mb-2">
                                    <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li> 
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link p-0 text-body-secondary">About</a>
                                    </li> 
                                </ul>
                        </div> 
                
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"> 
                <p>© 2025 Kelompok 1, Inc. All rights reserved.</p> 
                <ul class="list-unstyled d-flex"> 
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="#" aria-label="Instagram">
                            <svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg>
                        </a>
                    </li> 
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="#" aria-label="Facebook">
                            <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#facebook"></use></svg>
                        </a>
                    </li> 
                </ul> 
            </div> 
        </footer> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>
</html>