<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Warung</title>
</head>
<body>

    <div class="load"></div>

    <div class="container"> 
        <header class="d-flex justify-content-center py-3"> 
            <ul class="nav nav-pills"> 
                <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li> 
                <li class="nav-item"><a href="menu.html" class="nav-link active" aria-current="page">Menu</a></li> 
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li> 
                </ul> 
            </header> 
    </div>

    
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel"> 
        <div class="carousel-indicators"> 
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button> 
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button> 
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button> 
        </div> 
        <div class="carousel-inner"> 
            <div class="carousel-item"> 
                <img src="assets/seblak-400.jpg" alt="" width="100%">
                <div class="container"> 
                    <div class="carousel-caption text-start"> 
                        <h1>Cheap worth to buy.</h1> 
                        <p class="opacity-75">The price is like a whisper, but the taste screams cheap and cheerful, a must try!.</p> 
                        <p><a class="btn btn-lg btn-primary" href="#">Buy Now!</a></p> 
                    </div> 
                </div> 
            </div> 
            <div class="carousel-item"> 
                <img src="assets/martabak.jpg" alt="" width="100%">
                <div class="container"> 
                    <div class="carousel-caption"> 
                        <h1>Full Menu of food from heaven.</h1> 
                        <p >The complete menu is like an orchestra of flavors, each dish playing the perfect note in a symphony of pleasure.</p> 
                        <p><a class="btn btn-lg btn-primary" href="about.html#developers">Contact Developers</a></p> 
                    </div> 
                </div> 
            </div> 
            <div class="carousel-item active"> 
                <img src="assets/es.jpg" alt="" width="100%">
                <div class="container"> 
                    <div class="carousel-caption text-end"> 
                        <h1>Delicious like a She.</h1> 
                        <p>Delicious like a warm hug that melts on the tongue.</p> 
                        <p><a class="btn btn-lg btn-primary" href="#menu">Browse Menu</a></p> 
                    </div> 
                </div> 
            </div> 
        </div> 
        
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev"> 
        <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
        <span class="visually-hidden">Previous</span> 
    </button> 
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next"> 
        <span class="carousel-control-next-icon" aria-hidden="true"></span> 
        <span class="visually-hidden">Next</span> 
    </button> 
    </div>

    <div class="container marketing"> <!-- Three columns of text below the carousel --> 
        <div class="row"> 
            <hr class="featurette-divider"> 
            <div class="row featurette js-scroll fade-in" id="menu"> 
                <div class="col-md-7"> 
                    <h2 class="featurette-heading fw-normal lh-1">Nasi Goreng Jawa. 
                        <span class="text-body-secondary">It’ll blow your mind.</span>
                    </h2> 
                    <p class="lead">Javanese fried rice, like an orchestra of flavors that echo on the tongue with each grain of rice dancing with the spices like a gamelan dancer in a rhythm that arouses the appetite. The aroma of onions, sweet soy sauce, and chilies that come together as if greeting from the kitchen of the past, awakening memories in a warm puff of smoke. The taste is not just filling, but like a mother's hug on a cold night, warm, familiar, and never wrong.</p> 
                    <p><a class="btn btn-lg btn-primary" href="buying.html">Buy Now!</a></p>
                    <p class="price">Rp17.000</p>
                </div> 
                <div class="col-md-5"> 
                    <img src="assets/normalSize/Nasgor.jpg" alt="" width="100%">
                </div> 
            </div> 
            <hr class="featurette-divider"> 
            <div class="row featurette js-scroll slide-left"> 
                <div class="col-md-7 order-md-2"> 
                    <h2 class="featurette-heading fw-normal lh-1">Es Campur. <span class="text-body-secondary">feel the freshness.</span></h2> 
                    <p class="lead">Mixed ice is like a summer symphony dancing on the tongue the combination of sweet syrup, fresh fruit, and soft shaved ice creates a harmony of flavors that can dampen the heat of the sun. In that small bowl, the colorful contents are like a painting of dusk that caresses the eye, tempting anyone to taste the cool happiness.</p> 
                    <p><a class="btn btn-lg btn-primary" href="buying.html">Buy Now!</a></p>
                    <p class="price">Rp10.000</p>
                </div> 
                <div class="col-md-5 order-md-1"> 
                    <img src="assets/normalSize/es.jpg" alt="" width="100%">
                </div> 
            </div> 
            <hr class="featurette-divider"> 
            <div class="row featurette js-scroll fade-in-bottom"> 
                <div class="col-md-7"> 
                    <h2 class="featurette-heading fw-normal lh-1">Seblak Mampus. <span class="text-body-secondary">burning spiciness.</span></h2> 
                    <p class="lead">Spicy seblak is an explosion of flavors that shakes the tongue like fire dancing on coals, tempting yet scorching. Each mouthful is like a wild adventure in the chili jungle, with chewy, moist crackers twisting through the bright red sauce. The aroma is sharp, like the whisper of a little devil tempting you to keep scooping even as sweat begins to drip.</p> 
                    <p><a class="btn btn-lg btn-primary" href="buying.html">Buy Now!</a></p>
                    <p class="price">Rp15.000</p>
                </div> 
                <div class="col-md-5"> 
                    <img src="assets/normalSize/seblak.jpg" alt="" width="100%">
                </div> 
            </div> <hr class="featurette-divider"> <!-- /END THE FEATURETTES --> </div>
    </div>
            <div class="container js-scroll fade-in-bottom contain-foot"> 
                <footer class="py-5"> 
                    <div class="row">     
                            <div class="col-6 col-md-2 mb-3"> 
                                <h5>More</h5> 
                                <ul class="nav flex-column"> 
                                    <li class="nav-item mb-2">
                                        <a href="index.html" class="nav-link p-0 text-body-secondary">Home</a>
                                    </li> 
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                                    </li> 
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                                    </li> 
                                    <li class="nav-item mb-2">
                                        <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li> 
                                        <li class="nav-item mb-2">
                                            <a href="about.html" class="nav-link p-0 text-body-secondary">About</a>
                                        </li> 
                                    </ul>
                            </div> 
                    
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"> 
                    <p>© 2025 Kelompok 1, Inc. All rights reserved.</p> 
                    <ul class="list-unstyled d-flex"> 
                        <li class="ms-3">
                            <a class="link-body-emphasis" href="#" aria-label="Instagram">
                                <svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg>
                            </a>
                        </li> 
                        <li class="ms-3">
                            <a class="link-body-emphasis" href="#" aria-label="Facebook">
                                <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#facebook"></use></svg>
                            </a>
                        </li> 
                    </ul> 
                </div> 
            </footer> 
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
    <script>window.history.replaceState({}, document.title, "menu");</script>
</body>
</html>